<div class="notification">
	<!-- Print the notification message -->
	<li class="notification-message">
      <%if notification.notification_type && notification.notification_type.include?('W') %>
          <span class="label success">Win</span>
      <% elsif notification.notification_type && notification.notification_type.include?('N')%>
          <span class="label important">NewBid</span>
      <% elsif notification.notification_type && notification.notification_type.include?('S')%>
          <span class="label success">Sold</span>
      <% elsif notification.notification_type && notification.notification_type.include?('O')%>
          <span class="label warning">OutBid</span>
      <% elsif notification.notification_type && notification.notification_type.include?('D')%>
          <span class="label important">Delete</span>
      <% elsif notification.notification_type && notification.notification_type.include?('P')%>
          <span class="label important">Paid</span>
      <% else %>
          <span class="label default">New</span>
      <% end %>
    <%= notification.message %>
      <%if notification.notification_type && notification.notification_type.include?('W') %>
      	<% unless Item.find(notification.item_id).is_paid %>
      		<%= link_to "(Pay here)", :controller => 'carts', :action => 'show', :id => 'current' %>
      	<% end %>
      <% end %>
	</li>
</div>