
<title>Home page</title>
<p>
  Welcome to BESTBAY !
</p>

<table class="sidebar">
  <tr><td>category 1</td></tr>
  <tr><td>category 2</td></tr>
  <tr><td>category 3</td></tr>
  <tr><td>category 4</td></tr>
  <tr><td>category 5</td></tr>
</table>

