$("#new_bidding")[0].reset();

$("#top").html('<div class="notice"> <%= @bid_notification_msg %> </div>');

/*$("#current-price-value").replaceWith($('#current-price-value').html);*/

if("<%= (defined?(@current_highest_bid)).nil? %>" == "false"){
$("#current-price-value").html("<%= escape_javascript(number_to_currency(@current_highest_bid, :unit=>"$"))%>");
}

/* Replace the count of comments
$("#bids_count").html("<%#= pluralize(Comment.count, 'Subscription') %>");
*/

/* Add the new comment to the bottom of the comments list
$("#").append("<%#= escape_javascript(render(@comment)) %>");
*/

/* Highlight the new comment
$("#comment_<%#= @comment.id %>").effect("highlight", {}, 3000);

        */