<div style="padding-left: 30px">
<h2>Pay for your item</h2>

<div style="padding-top: 10px">
  <b>Total Amount you have to Pay =</b>
<%=number_to_currency(@cart.total_price,:unit=>"$")%>
</div><br/>

<p>
  <b>Total Number of items you've ordered = </b>
<%=@cart.total_quantity%>
</p> <br/>

</div>


<%= button_to 'Modify your Order', session[:last_product_page], :class => "btn primary medium", :style => "margin-left:60px" %>

<%= render 'form' , :locals => {:cart => @cart} %>


